@model Dostawca
<partial name="_Notification" />
<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@(Model.Id!=0?"Edytuj dostawcę": "Dodaj dostawcę")</h6>
        </div>


        <div class="card-body">
            <form method="post" asp-action="Upsert">
                <div class="row">
                <div class="mb-3">
                    <label asp-for="NazwaDostawcy"></label>
                    <input asp-for="NazwaDostawcy" class="form-control" />
                    <span asp-validation-for="NazwaDostawcy" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="AdresDostwacy"></label>
                    <input asp-for="AdresDostwacy" class="form-control" />
                    <span asp-validation-for="AdresDostwacy" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ZakresDzialalnosci"></label>
                    <textarea asp-for="ZakresDzialalnosci" class="form-control" rows="3"> </textarea>
                    <span asp-validation-for="ZakresDzialalnosci" class="text-danger"></span>
                </div>
                <div class="py-2 col-6">
                    <label asp-for="DataZatwierdzenia"></label>
                    <input class="form-control" asp-for="DataZatwierdzenia" />
                    <span asp-validation-for="DataZatwierdzenia" class="text-danger"></span>
                </div>
                <div class="py-2 col-6">
                    <label asp-for="DataWygasniecia"></label>
                    <input class="form-control" asp-for="DataWygasniecia" />
                    <span asp-validation-for="DataWygasniecia" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Uwagi"></label>
                    <textarea asp-for="Uwagi" class="form-control" rows="3"> </textarea>
                </div>
                </div>
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Utwórz</button>
                }
                <a asp-controller="Dostawca" asp-action="Index" class="btn btn-dark">
                    Anuluj
                    </a>
            </form>
        </div>


    </div>
</div>








@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }
