@model PrzewodnikPracyVM


<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Tworzenie operacji</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label>Treść operacji</label>
                    <input asp-for="Operacja.TrescOperacji" class="form-control" />
                    <span asp-validation-for="Operacja.TrescOperacji" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Utwórz</button>
                <a asp-controller="PrzewodnikPracy" asp-action="PrzewodnikPracy" asp-route-id="@Model.PrzewodnikPracy.Id" class="btn btn-dark">
                Anuluj
            </a>
            </div>
        </div>
        
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }