@model PrzewodnikPracyVM

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Przegląd zamówienia</h6>
        </div>
        <form method="post">
            <div class="mb-3">
                <label asp-for="Operacja.TrescOperacji"></label>
                <input asp-for="Operacja.TrescOperacji" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Dodaj</button>
        </form>

    </div>
</div>