@model PrzewodnikPracyVM
@{
    <partial name="_Notification" />
};
<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@(Model.PrzewodnikPracy.WynikPrzewodnika != null ? "Edycja wyniku przewodnika" : "Zakończ przewodnik")</h6>
            </div>
            <div class="card-body">
                <input asp-for="PrzewodnikPracy.Id" hidden />
                <input asp-for="PrzewodnikPracy.NumerPrzewodnika" hidden />
                <input asp-for="PrzewodnikPracy.WymaganieId" hidden />
                <input asp-for="PrzewodnikPracy.Rysunek" hidden />
                <input asp-for="PrzewodnikPracy.NumerRysunku" hidden />
                <input asp-for="SwiadectwoJakosci.WynikSwiadectwa" id="wynik" hidden />
                <div class="mb-3">
                    <label>Wynik przewodnika</label>
                    <input asp-for="PrzewodnikPracy.WynikPrzewodnika" id="wynikPrzewodnika" class="form-control" />
                    <span asp-validation-for="PrzewodnikPracy.WynikPrzewodnika" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Zidentyfikowane problemy</label>
                    <textarea asp-for="PrzewodnikPracy.ZidentyfikowaneProblemy" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label>Planowane działania</label>
                    <textarea asp-for="PrzewodnikPracy.PlanowaneDzialania" rows="3" class="form-control"></textarea>
                </div>
                @if (Model.PrzewodnikPracy.WynikPrzewodnika == "")
                {

                }
                else
                {
                    <div class="mb-3">
                        <label>Data zakończenia przewodnika</label>
                        <input asp-for="PrzewodnikPracy.DataZakonczeniaPrzewodnika" class="form-control" />
                    </div>
                }
                @if (Model.PrzewodnikPracy.WynikPrzewodnika == "")
                {
                    <button type="submit" id="zakoncz" hidden class="btn btn-info">Zakończ przewodnik</button>
                    <button onclick="return ValidateInput()" class="btn btn-primary">Zakończ przewodnik</button>

                }
                else
                {
                    <button type="submit" class="btn btn-info">Edytuj</button>
                }
                <a asp-controller="PrzewodnikPracy" asp-action="PrzewodnikPracy" asp-route-id="@Model.PrzewodnikPracy.Id" class="btn btn-dark">
                    Anuluj
                </a>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{

    }
<partial name="_ValidationScriptsPartial" />
<script>

    function ValidateInput(){

            Swal.fire({
      title: 'Zakończyć przewodnik?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Nie',
      confirmButtonText: 'Tak'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("zakoncz").click();
      }
    });
        return false;
    }


</script>

}

