@model PrzegladVM
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Pytania</h6>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nazwa</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Pytania)
                    {
                        <tr>
                            <td width="80%">
                                @obj.Nazwa
                            </td>

                            <td style="display: block; margin:auto">

                                <a asp-controller="Pytanie" asp-action="AddOdpowiedz" asp-route-id="@obj.Id" class="btn btn-primary" style="width:40%; ">
                                    <i class="bi bi-pencil-square"></i> Odpowiedz
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>