@model PrzegladVM

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Przegląd zamówieia</h6>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Pytanie.Nazwa"></label>
                <input asp-for="Pytanie.Nazwa" class="form-control" />
            </div>



            <form method="post">


                <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" onclick="Show()" id="ObslugaMetrologiczna" asp-for="Odpowiedz.Wartosc" checked="true">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Nie/Tak</label>
                    </div>

                @*@Html.CheckBoxFor(model => model.Odpowiedz.Wartosc)*@
                <div class="mb-3">
                    <label asp-for="Odpowiedz.WymaganeDzialania"></label>
                    <input asp-for="Odpowiedz.WymaganeDzialania" class="form-control" />
                </div>
                <button type="submit" class="btn btn-info">Udziel odpowiedzi</button>
                <a asp-controller="Przeglad" asp-action="PrzegladZamowienia" asp-route-idZamowienia="@Model.Zamowienie.Id" class="btn btn-primary">
        <i class="bi bi-arrow-90deg-left"></i> Wróć
    </a>
            </form>
            
        </div>
    </div>
</div>