@model Przeglad
@{
    <partial name="_Notification" />


}
<div class="container p-3">
    <div class="card shadow mb-4" style="margin:15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Wynik przeglądu</h6>
        </div>

        <div class="card-body">
            <form method="post">
                <input asp-for="zamowienieId" hidden />
                <input asp-for="Id" hidden />
                <div class="mb-3">
                    <label>Wynik przeglądu</label>
                    <input asp-for="WynikPrzegladu" class="form-control" />
                    <span asp-validation-for="WynikPrzegladu" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Zidentyfikowane Problemy</label>
                    <textarea asp-for="ZidentyfikowaneProblemy" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label>Planowane Działania</label>
                    <textarea asp-for="PlanowaneDzialania" rows="3" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Zakończ przegląd</button>
                <a asp-controller="Przeglad" asp-action="PrzegladZamowienia" asp-route-idZamowienia="@Model.zamowienieId" class="btn btn-dark">
                   Anuluj
                </a>
            </form>

        </div>
    </div>
</div>