@model Pytanie

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edytuj pytanie</h6>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="border pt-3 mt-4">
                    <div class="row pb-2">
                        <h2 class="text-primary">Utwórz pytanie</h2>
                        <hr />
                    </div>
                    <div class="mb-3">
                        <label asp-for="Nazwa"></label>
                        <input asp-for="Nazwa" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary" style="width:150px">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}