@model Przeglad

<div class="container p-3">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Wynik przeglądu</h6>
        </div>

        <div class="card-body">
        <form method="post">
            <input asp-for="zamowienieId" hidden />
            <div class="mb-3">
                <label>Wynik przeglądu</label>
                <input asp-for="WynikPrzegladu" class="form-control" />
            </div>
            <div class="mb-3">
                <label>Zidentyfikowane Problemy</label>
                <input asp-for="ZidentyfikowaneProblemy" class="form-control" />
            </div>
            <div class="mb-3">
                <label> Planowane działania</label>
                <input asp-for="PlanowaneDzialania" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Zakończ przegląd</button>
        </form>

    </div>
</div>