@model PrzegladVM
@{
    ViewData["Title"] = "Edytuj odpowiedź";
}

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Przegląd zamówienia</h6>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label>Nazwa pytania</label>
                <input asp-for="Pytanie.Nazwa" readonly="" class="form-control" />
            </div>



            <form method="post">

                <label>Odpowiedź</label>
                <div class="form-check form-switch" style="margin-bottom:10px;">
                        <input class="form-check-input" type="checkbox" onclick="Show()" id="ObslugaMetrologiczna" asp-for="Odpowiedz.Wartosc">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Nie/Tak</label>
                    </div>

                @*@Html.CheckBoxFor(model => model.Odpowiedz.Wartosc)*@
                <div class="mb-3">
                    <label asp-for="Odpowiedz.WymaganeDzialania"></label>
                    <input asp-for="Odpowiedz.WymaganeDzialania" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Edytuj odpowiedź</button>
                <a asp-controller="Przeglad" asp-action="PrzegladZamowienia" asp-route-idZamowienia="@Model.Zamowienie.Id" class="btn btn-dark">
                    Anuluj
                </a>
            </form>

        </div>
    </div>
</div>