@page
@using SimpleQMS.Areas.Identity.Pages.Account
@model LogoutModel

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-lg btn-primary">Naciśnij tutaj aby potwierdzić wylogowanie.</button>
            </form>
        }
        else
        {
            <p>Zostałeś pomyślnie wylogowany z systemu.</p>
        }
    }
</header>
