@page
@using SimpleQMS.Areas.Identity.Pages.Account
@model RegisterModel

<h1 class="pt-4">@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-7 pt-4">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Rejestracja pracownika w systemie</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Imie" class="form-control" aria-required="true" />
                <label asp-for="Input.Imie"></label>
                <span asp-validation-for="Input.Imie" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Nazwisko" class="form-control" aria-required="true" />
                <label asp-for="Input.Nazwisko"></label>
                <span asp-validation-for="Input.Nazwisko" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Kraj" class="form-control" aria-required="true" />
                <label asp-for="Input.Kraj"></label>
                <span asp-validation-for="Input.Kraj" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Miasto" class="form-control" aria-required="true" />
                <label asp-for="Input.Miasto"></label>
                <span asp-validation-for="Input.Miasto" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.UlicaNumer" class="form-control" aria-required="true" />
                <label asp-for="Input.UlicaNumer"></label>
                <span asp-validation-for="Input.UlicaNumer" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.KodPocztowy" class="form-control" aria-required="true" />
                <label asp-for="Input.KodPocztowy"></label>
                <span asp-validation-for="Input.KodPocztowy" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-select" >
                <option disabled selected>-Wybierz role-</option>
                </select>
                <label asp-for="Input.Role"></label>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-lg btn-primary">Zarejestruj</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
