@model Szkolenie

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@(Model.Id!=0?"Edytuj szkolenie": "Dodaj szkolenie")</h6>
        </div>


        <div class="card-body">
            <form method="post" asp-action="Upsert">
                <div class="row">
                <div class="mb-3">
                    <label asp-for="Temat"></label>
                    <input asp-for="Temat" class="form-control" />
                    <span asp-validation-for="Temat" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="RodzajSz"></label>
                    <select asp-for="RodzajSz" asp-items="Html.GetEnumSelectList<RodzajSzkolenia>()" class="form-select">
                        <option disabled selected>-- Wybierz rodzaj szkolenia --</option>
                    </select>
                    <span asp-validation-for="RodzajSz" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="DataRozpoczecia"></label>
                    <input class="form-control" asp-for="DataRozpoczecia" />
                    <span asp-validation-for="DataRozpoczecia" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-6">
                    <label asp-for="DataZakonczenia"></label>
                    <input class="form-control" asp-for="DataZakonczenia" />
                    <span asp-validation-for="DataZakonczenia" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Uwagi"></label>
                    <textarea asp-for="Uwagi" class="form-control" rows="3"> </textarea>
                </div>
                </div>
                @if (Model.Id != 0)
                {
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                    <a asp-controller="Szkolenie" asp-action="DetailsSzkolenie" asp-route-id="@Model.Id" class="btn btn-dark">
                Anuluj</a>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Utwórz</button>
                    <a asp-controller="Szkolenie" asp-action="Index" class="btn btn-dark">Anuluj</a>
                }
                
            </form>
        </div>


    </div>
</div>








@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }
