@model SwiadectwoJakosci
@{
    ViewData["Title"] = "Wynik świadectwa jakości";
}
<partial name="_Notification" />


<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@(Model.WynikSwiadectwa!=""?"Edycja wyniku świadectwa": "Zakończ świadectwo")</h6>
            </div>
            <div class="card-body">
                <input asp-for="Id" hidden />
                <input asp-for="NumerSwiadectwa" hidden />
                <input asp-for="WymaganieId" hidden />
                <div class="mb-3">
                    <label>Wynik świadectwa</label>
                    <input asp-for="WynikSwiadectwa" class="form-control" />
                    <span asp-validation-for="WynikSwiadectwa" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label>Zidentyfikowane problemy</label>
                    <textarea asp-for="ZidentyfikowaneProblemy" rows="3" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <label>Planowane działania</label>
                    <textarea asp-for="PlanowaneDzialania" rows="3" class="form-control"></textarea>
                </div>
                @if (Model.WynikSwiadectwa != "")
                {
                  <div class="mb-3">
                    <label asp-for="DataZakonczeniaSwiadectwa"></label>
                    <input asp-for="DataZakonczeniaSwiadectwa" class="form-control" />
                    <span asp-validation-for="DataZakonczeniaSwiadectwa" class="text-danger"></span>
                </div>  
                }

                @if (Model.WynikSwiadectwa == "")
                {
                   
                    <button type="submit" id="zakoncz" hidden class="btn btn-info">Zakończ świadectwo</button>
                    <button onclick="return ValidateInput()" class="btn btn-primary">Zakończ świadectwo</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                }
               <a asp-controller="SwiadectwoJakosci" asp-action="SwiadectwoJakosciDetails" asp-route-id="@Model.WymaganieId" class="btn btn-dark">
                Anuluj
            </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }

    <script>

    function ValidateInput(){

            Swal.fire({
      title: 'Zakończyć świadectwo jakości?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Nie',
      confirmButtonText: 'Tak'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("zakoncz").click();
      }
    });
        return false;
    }


</script>

}