@model SwiadectwoJakosci

<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">@(Model.WynikSwiadectwa!=null?"Edycja wyniku świadectwa": "Zakończ świadectwo")</h6>
            </div>
            <div class="card-body">
                <input asp-for="Id" hidden />
                <input asp-for="NumerSwiadectwa" hidden />
                <input asp-for="ZamowienieId" hidden />
                <input asp-for="WymaganieId" hidden />
                <div class="mb-3">
                    <label>Wynik świadectwa</label>
                    <input asp-for="WynikSwiadectwa" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Zidentyfikowane problemy</label>
                    <input asp-for="ZidentyfikowaneProblemy" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Planowane działania</label>
                    <input asp-for="PlanowaneDzialania" class="form-control" />
                </div>

                @if (Model.WynikSwiadectwa != null)
                {
                    <button type="submit" class="btn btn-primary">Edytuj</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary">Zakończ świadectwo</button>
                }
               <a asp-controller="SwiadectwoJakosci" asp-action="SwiadectwoJakosci" asp-route-id="@Model.ZamowienieId" class="btn btn-primary">
                <i class="bi bi-arrow-90deg-left"></i> Wróć do świadectwa
            </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}