@model Zamowienie

<form method="post">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Utwórz zamówienie</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="OpisZamowienia"></label>
            <input asp-for="OpisZamowienia" class="form-control" />
            <span asp-validation-for="OpisZamowienia" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UwagiZamowienia"></label>
            <input asp-for="UwagiZamowienia" class="form-control" />
        </div>
@*        <div class="mb-3">
            <label asp-for="DataZamowienia"></label>
            <input class="form-control" asp-for="DataZamowienia" />
            <span asp-validation-for="DataZamowienia" class="text-danger"></span>
        </div>*@
        
        <button type="submit" class="btn btn-primary" style="width:150px">Utwórz</button>
        <a asp-controller="Zamowienie" asp-action="Index" class="btn btn-primary" style="width:150px">
            Wróć do zamówień
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}