@model ZamowienieProcesVM

<partial name="_Notification" />

<div class="col-xl-12">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">Dane zamówienia</h6>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="Zamowienia.UwagiZamowienia"></label>
                <input asp-for="Zamowienia.UwagiZamowienia" class="form-control" />
            </div>
            <div class="mb-3">
                <label asp-for="Zamowienia.DataZamowienia"></label>
                <input asp-for="Zamowienia.DataZamowienia" class="form-control" />
            </div>

            @if (Model.Procesy.Count() != 0)
            {
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Wymaganie</th>

                        </tr>

                    </thead>
                    @foreach (var obj in Model.Procesy)
                    {

                        <tr>
                            <td width="30%">@obj.Nazwa</td>
                            <td width="70%">@obj.Opis</td>
                        </tr>

                    }
                </table>
            }
            else
            {
                
            }
        </div>
    </div>
</div>

<form method="post">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Zamówienia</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Proces.Nazwa"></label>
                    <input asp-for="Proces.Nazwa" class="form-control" />
                    <span asp-validation-for="Proces.Nazwa" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Proces.Opis"></label>
                    <input asp-for="Proces.Opis" class="form-control" />
                    <span asp-validation-for="Proces.Opis" class="text-danger"></span>
                </div>

                <button type="submit" name="SubmitForm" value="AddProces" class="btn btn-primary">Dodaj wymaganie</button>
                <button type="submit" name="SubmitForm" value="Create" formnovalidate class="btn btn-primary">Zakończ</button>
            </div>
        </div>
    </div>
</form>








@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}