@model ZamowienieWymaganieVM
@{
    ViewData["Title"] = "Zadowolenie klienta";
}
<partial name="_Notification" />

<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Zadowolenie klienta</h6>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="py-2 col-6">
                        <label asp-for="ZadowolenieKlienta.Jakosc"></label>
                        <select asp-for="ZadowolenieKlienta.Jakosc" class="form-select" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option selected>5</option>
                        </select>
                        <span asp-validation-for="ZadowolenieKlienta.Jakosc" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-6">
                        <label asp-for="ZadowolenieKlienta.CzasRealizacji"></label>
                        <select asp-for="ZadowolenieKlienta.CzasRealizacji" class="form-select" id="exampleSelect1">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option selected>5</option>
                        </select>
                        <span asp-validation-for="ZadowolenieKlienta.CzasRealizacji" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ZadowolenieKlienta.Uwagi"></label>
                        <textarea asp-for="ZadowolenieKlienta.Uwagi" rows="3" class="form-control"></textarea>
                    </div>
                </div>
                <button type="submit" id="zakoncz" hidden class="btn btn-info">Zakończ zadowolenie</button>
                    <button onclick="return ValidateInput()" class="btn btn-primary">Zakończ zadowolenie</button>
                <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-dark">
                    Anuluj
                </a>
            </div>
        </div>

    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }

    <script>

    function ValidateInput(){

            Swal.fire({
      title: 'Zakończyć zadowolenie klienta?',
      icon: 'question',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Nie',
      confirmButtonText: 'Tak'
    }).then((result) => {
      if (result.isConfirmed) {
        document.getElementById("zakoncz").click();
      }
    });
        return false;
    }


</script>

}