@model ZamowienieWymaganieVM

<partial name="_Notification" />

<div class="container p-3">
    @if (Model.Wymagania.Any())
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Wymagania do zamówienia</h6>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th>Wymaganie</th>

                        </tr>
                        @foreach (var obj in Model.Wymagania)
                        {
                            <tr>
                                <td width="30%">@obj.Nazwa</td>
                                <td width="70%">@obj.Opis</td>
                            </tr>
                        }
                </table>

            </div>
        </div>
    }

    <form method="post">
        <div class="col-xl-12">
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Utwórz wymaganie do wykonania</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Nazwa"></label>
                        <input asp-for="Wymaganie.Nazwa" class="form-control" />
                        <span asp-validation-for="Wymaganie.Nazwa" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Ilosc"></label>
                        <input asp-for="Wymaganie.Ilosc" class="form-control" value="1" />
                        <span asp-validation-for="Wymaganie.Ilosc" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Material"></label>
                        <input asp-for="Wymaganie.Material" class="form-control" />
                        <span asp-validation-for="Wymaganie.Material" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Wymaganie.Opis"></label>
                        <input asp-for="Wymaganie.Opis" class="form-control" />
                        <span asp-validation-for="Wymaganie.Opis" class="text-danger"></span>
                    </div>
                    <button type="submit" name="SubmitForm" value="AddWymaganie" class="btn btn-primary">Dodaj wymaganie</button>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Uwagi do zamówienia</h6>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label asp-for="Zamowienie.UwagiZamowienia"></label>
                        <input asp-for="Zamowienie.UwagiZamowienia" class="form-control" />
                        <span asp-validation-for="Zamowienie.UwagiZamowienia" class="text-danger"></span>
                    </div>

                    <button type="submit" name="SubmitForm" value="Create" formnovalidate class="btn btn-primary">Zakończ</button>
                </div>
            </div>
        </div>
    </form>
</div>







@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}