@model Zamowienie

<form method="post">
    <div class="col-xl-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Dodawanie zamówienia</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="Nazwa"></label>
                    <input asp-for="Nazwa" class="form-control" />
                    <span asp-validation-for="Nazwa" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UwagiZamowienia"></label>
                    <input asp-for="UwagiZamowienia" class="form-control" />
                </div>


                <button type="submit" class="btn btn-primary" style="width:150px">Przejdz do procesów</button>
                <a asp-controller="Zamowienie" asp-action="Index" class="btn btn-primary" style="width:150px">
                    Wróć do zamówień
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}