@model ZamowienieWymaganieVM


<form method="post">
    <div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Zadowolenie klienta</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="ZadowolenieKlienta.Jakosc"></label>
                    <input asp-for="ZadowolenieKlienta.Jakosc" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="ZadowolenieKlienta.CzasRealizacji"></label>
                    <input asp-for="ZadowolenieKlienta.CzasRealizacji" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="ZadowolenieKlienta.Uwagi"></label>
                    <input asp-for="ZadowolenieKlienta.Uwagi" class="form-control" />
                </div>
                <button type="submit" class="btn btn-info">Dodaj</button>
                <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@Model.Zamowienie.Id" class="btn btn-primary">
                    <i class="bi bi-arrow-90deg-left"></i> Wróć do zamówienia
                </a>
            </div>
        </div>

    </div>
</form>