@model Klient
<partial name="_Notification" />
<form method="post">
<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Edycja klienta</h6>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="NazwaKlienta"></label>
                    <input asp-for="NazwaKlienta" class="form-control" />
                    <span asp-validation-for="NazwaKlienta" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Kraj"></label>
                    <input asp-for="Kraj" class="form-control" />
                    <span asp-validation-for="Kraj" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Miasto"></label>
                    <input asp-for="Miasto" class="form-control" />
                    <span asp-validation-for="Miasto" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="UlicaNumer"></label>
                    <input asp-for="UlicaNumer" class="form-control" />
                    <span asp-validation-for="UlicaNumer" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KodPocztowy"></label>
                    <input asp-for="KodPocztowy" class="form-control" />
                    <span asp-validation-for="KodPocztowy" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-info" style="margin-right:5px; float:right;">Edytuj</button>
                <a asp-controller="Zamowienie" asp-action="DetailsKlient" asp-route-id="@Model.Id" class="btn btn-primary">
                    <i class="bi bi-arrow-90deg-left"></i> Powrót
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}