@model IEnumerable<Zamowienie>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Zamówienia</h6>
        </div>
        <br />
        <div class="col-12 text-end">
            <a asp-controller="Zamowienie" asp-action="Upsert" class="btn btn-success" style="margin-right:25px">
                <i class="bi bi-plus-circle"></i> &nbsp; Utwórz zamówienie
            </a>
        </div>
        @if (!Model.Any())
        {
            <h1 class="text-center">Brak zamówień</h1>
        }
        else
        {
            <div class="card-body">
                <table class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Data zamówienia
                            </th>
                            <th>
                                Status
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            @if(obj.StatusZamowienia != "Nie potwierdzone")
                            {
                            <tr>
                                <td width="40%">
                                    @obj.Nazwa
                                </td>
                                <td width="20%">
                                    @obj.DataZamowienia
                                </td>
                                <td width="20%">
                                    @obj.StatusZamowienia
                                </td>
                                <td style="display: block; margin:auto">
                                    <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@obj.Id" class="btn btn-info">
                                        <i class="bi bi-info-circle"></i> Szczegóły
                                    </a>
                                    
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>