@model ZamowienieWymaganieVM

<div class="container p-3">
    <div class="card mb-4">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">@(Model.Zamowienie.Id != 0 ? "Edytuj zamówienie" : "Dodaj zamówienie")</h6>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Upsert">
                <input asp-for="Zamowienie.Id" hidden />
                <input asp-for="Zamowienie.StatusZamowienia" hidden />

                <div class="mb-3">
                    <label asp-for="Zamowienie.Nazwa"></label>
                    <input asp-for="Zamowienie.Nazwa" class="form-control" />
                </div>
                <div class="mb-3">
                    <label>Klient</label>
                    <select asp-for="Zamowienie.KlientId" asp-items="@Model.Klienci" class="form-select">
                        <option disabled selected>-- Wybierz klienta --</option>
                    </select>
                </div>
                @if (Model.Zamowienie.Id != 0)
                {
                    <div class="mb-3">
                        <label>Uwagi do zamówienia</label>
                        <textarea asp-for="Zamowienie.UwagiZamowienia" class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <span asp-validation-for="Zamowienie.UwagiZamowienia" class="text-danger"></span>
                    </div>
                }
                @if (Model.Zamowienie.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Edytuj</button>
                }
                else
                {
                    <a asp-controller="Zamowienie" asp-action="Index" class="btn btn-primary">
                        <i class="bi bi-arrow-90deg-left"></i> Powrót
                    </a>
                    <button type="submit" class="btn btn-info" style="float:right">Przejdź do wymagań</button>

                }
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }