@model EditUserVM
@{
    ViewData["Title"] = "Edycja pracownika";
}

<div class="container p-3">
    <div class="card shadow mb-4" style="margin:15px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Edytuj dane pracownika</h6>
        </div>


        <div class="card-body">
            <form method="post">


                <input asp-for="Id" class="form-control" hidden />
                <div class="row">
                    <div class="mb-3">
                        <label>Nazwa użytkownika</label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Imię</label>
                        <input asp-for="Imie" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Nazwisko</label>
                        <input asp-for="Nazwisko" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Kraj</label>
                        <input asp-for="Kraj" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Miasto</label>
                        <input asp-for="Miasto" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Ulica oraz numer</label>
                        <input asp-for="UlicaNumer" class="form-control" />
                    </div>
                    <div class="py-2 col-6">
                        <label>Kod pocztowy</label>
                        <input asp-for="KodPocztowy" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label>Rola</label>
                        @if (Model.Roles.Any())
                        {
                            foreach (var role in Model.Roles)
                            {
                                <h5>@role</h5>
                            }
                        }
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Edytuj</button>
                <a asp-controller="Pracownik" asp-action="DetailsUser" asp-route-id="@Model.Id" class="btn btn-dark">Anuluj</a>
            </form>
        </div>
    </div>
</div>
