@model IEnumerable<Zamowienie>
     <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Ostatnie zamówienia</h6>
        </div>
            <div class="card-body">
                <table class="table table-bordered table-striped" style="width:100%" id="tblData">
                    <thead>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Data zamówienia
                            </th>
                            <th>
                                Status
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {
                            @if(obj.StatusZamowienia != "Nie potwierdzone")
                            {
                            <tr>
                                <td width="40%">
                                    @obj.Nazwa
                                </td>
                                <td width="20%">
                                    @obj.DataZamowienia
                                </td>
                                <td width="20%">
                                    @obj.StatusZamowienia
                                </td>
                                <td style="display: block; margin:auto">
                                    <a asp-controller="Zamowienie" asp-action="DetailsZamowienia" asp-route-id="@obj.Id" class="btn btn-info">
                                        <i class="bi bi-info-circle"></i> Szczegóły
                                    </a>
                                    
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
    </div>