@model TypNarzedzia

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Utwórz typ narzędzia</h6>
        </div>


        <div class="card-body">
            <form method="post">

                    <div class="mb-3">
                        <label asp-for="NazwaTypu"></label>
                        <input asp-for="NazwaTypu" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-info" style="margin-right:5px; float:right;">Dodaj</button>
                    <a asp-controller="Narzedzie" asp-action="TypNarzedzia" class="btn btn-primary"><i class="bi bi-arrow-90deg-left"></i> Powrót</a>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}