@model IEnumerable<Narzedzie>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification" />

<div class="container p-3">
        <div class="card shadow mb-4" style="margin:15px">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Narzędzia i wyposażenie</h6>
        </div>
        <div class="col-12 text-end">
            <a asp-controller="Narzedzie" asp-action="Upsert" class="btn btn-success" style="margin-right:15px; margin-top:15px">
                <i class="bi bi-plus-circle"></i> &nbsp; Dodaj narzędzie/wyposażenie
            </a>
        </div>

            <div class="card-body">
                <table class="table table-bordered table-striped" style="width:100%" id="tblData">
                    <thead>
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Typ narzędzia
                            </th>
                            <th>
                                Obsluga Metrologiczna
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model)
                        {

                            <tr>
                                <td width="43%">
                                    @obj.Nazwa
                                </td>
                                <td width="20%">
                                    @obj.TypNarzedzia.NazwaTypu
                                </td>
                                <td width="22%">
                                @if(@obj.ObslugaMetrologiczna == true)
                                {
                                    <h7>Tak</h7>
                                }
                                else
                                {
                                  <h7>Nie</h7> 
                                }
                                </td>

                                <td style="text-align: center">

                                    <a asp-controller="Narzedzie" asp-action="DetailsNarzedzie" asp-route-id="@obj.Id" class="btn btn-info">
                                        <i class="bi bi-info-circle"></i> Szczegóły
                                    </a>
                                    
                                </td>
                            </tr>
                            
                        }
                    </tbody>
                </table>
            </div>
        
    </div>
</div>

