@model NarzedzieTypVM

<div class="container p-3">


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">@(Model.Narzedzie.Id!=0?"Edytuj narzędzie": "Dodaj narzędzie")</h6>
        </div>

        <div class="card-body">
            <form method="post" asp-action="Upsert">
                <input asp-for="Narzedzie.Id" hidden />
                <div class="mb-3">
                    <label asp-for="Narzedzie.Nazwa"></label>
                    <input asp-for="Narzedzie.Nazwa" class="form-control" />
                </div>
                <div class="mb-3">
                    <label asp-for="Narzedzie.NumerFabryczny"></label>
                    <input asp-for="Narzedzie.NumerFabryczny" class="form-control" />
                </div>
                
                
                <div class="mb-3">
                    <label asp-for="Narzedzie.TypNarzedziaId"></label>
                    <select asp-for="Narzedzie.TypNarzedziaId" asp-items="@Model.TypNarzedzi" class="form-select">
                        <option disabled selected>-- Wybierz typ narzędzia --</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="Narzedzie.Status"></label>
                    <input asp-for="Narzedzie.Status" class="form-control" />
                </div>

                <div class="mb-3">

                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" onclick="Show()" id="ObslugaMetrologiczna" asp-for="Narzedzie.ObslugaMetrologiczna">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Obsluga Metrologiczna</label>
                    </div>
                </div>

                <div id="obsluga" style="display:none" class="mb-3">

                    <div class="mb-3">
                        <label asp-for="ObslugaMetrologiczna.DataWaznosci"></label>
                        <input asp-for="ObslugaMetrologiczna.DataWaznosci" class="form-control" />
                    </div>

                </div>

                @if (Model.Narzedzie.Id != 0)
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Edytuj</button>
                }
                else
                {
                    <button type="submit" class="btn btn-primary" style="width:150px">Dodaj</button>
                }
                <a asp-controller="Narzedzie" asp-action="Index" class="btn btn-primary">Wróć</a>
            </form>
        </div>
    </div>
</div>


    @section Scripts{
    @{

        <script type="text/javascript">
            function Show() {

                if ((document.getElementById('ObslugaMetrologiczna').checked)) {
                 document.getElementById('obsluga').style = "display:inherit"
                }
                else {

                document.getElementById('obsluga').style = "display:none"
                }
            }
        </script>
    }


    }

